# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Ignore initial_channels.txt
app/initial_channels.txt